:root[b-t90a94cti4] {
    --bg-primary: #221f1f;
    --bg-secondary: #292f33;
    --brand-primary: #E50914;
    --text-color: #F5F5F1;
}

*[b-t90a94cti4] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[b-t90a94cti4], body[b-t90a94cti4] {
    height: 100%;
}

img[b-t90a94cti4], picture[b-t90a94cti4], video[b-t90a94cti4], canvas[b-t90a94cti4], svg[b-t90a94cti4] {
    display: block;
    max-width: 100%;
}

input[b-t90a94cti4], button[b-t90a94cti4], textarea[b-t90a94cti4], select[b-t90a94cti4] {
    font: inherit;
}

.page[b-t90a94cti4] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-t90a94cti4] {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.content[b-t90a94cti4] {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}


.sidebar[b-t90a94cti4] {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; 
    border-bottom: var(--brand-primary) solid 1px;
}


.top-row[b-t90a94cti4] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid #d6d5d5;
}

    .top-row[b-t90a94cti4]  a,
    .top-row[b-t90a94cti4]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-t90a94cti4]  a:hover,
        .top-row[b-t90a94cti4]  .btn-link:hover {
            text-decoration: underline;
        }


.nav-scrollable[b-t90a94cti4] {
    flex: 1;
    overflow-y: auto;
}


@media (min-width: 641px) {
    .page[b-t90a94cti4] {
        flex-direction: row;
    }

    .sidebar[b-t90a94cti4] {
        width: 250px; 
        flex: 0 0 250px;
        height: auto; 
        position: sticky;
        top: 0;
    }

    .top-row[b-t90a94cti4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-t90a94cti4]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-t90a94cti4], article[b-t90a94cti4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler[b-t90a94cti4] {
        display: none;
    }

    .collapse[b-t90a94cti4] {
        display: block; 
    }

    .nav-scrollable[b-t90a94cti4] {
        height: calc(100% - 3.5rem); 
    }
}

@media (max-width: 640.98px) {
    .top-row[b-t90a94cti4] {
        justify-content: space-between;
    }

        .top-row[b-t90a94cti4]  a,
        .top-row[b-t90a94cti4]  .btn-link {
            margin-left: 0;
        }
}
