:root {
    --bg-primary: #221f1f;
    --bg-secondary: #292f33;
    --brand-primary: #E50914;
    --text-color: #F5F5F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}


.sidebar {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; 
    border-bottom: var(--brand-primary) solid 1px;
}


.top-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid #d6d5d5;
}

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover,
        .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }


.nav-scrollable {
    flex: 1;
    overflow-y: auto;
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px; 
        flex: 0 0 250px;
        height: auto; 
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block; 
    }

    .nav-scrollable {
        height: calc(100% - 3.5rem); 
    }
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a,
        .top-row ::deep .btn-link {
            margin-left: 0;
        }
}
