/* /Layout/MainLayout.razor.rz.scp.css */
:root[b-t90a94cti4] {
    --bg-primary: #221f1f;
    --bg-secondary: #292f33;
    --brand-primary: #E50914;
    --text-color: #F5F5F1;
}

*[b-t90a94cti4] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[b-t90a94cti4], body[b-t90a94cti4] {
    height: 100%;
}

img[b-t90a94cti4], picture[b-t90a94cti4], video[b-t90a94cti4], canvas[b-t90a94cti4], svg[b-t90a94cti4] {
    display: block;
    max-width: 100%;
}

input[b-t90a94cti4], button[b-t90a94cti4], textarea[b-t90a94cti4], select[b-t90a94cti4] {
    font: inherit;
}

.page[b-t90a94cti4] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-t90a94cti4] {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.content[b-t90a94cti4] {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}


.sidebar[b-t90a94cti4] {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; 
    border-bottom: var(--brand-primary) solid 1px;
}


.top-row[b-t90a94cti4] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid #d6d5d5;
}

    .top-row[b-t90a94cti4]  a,
    .top-row[b-t90a94cti4]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-t90a94cti4]  a:hover,
        .top-row[b-t90a94cti4]  .btn-link:hover {
            text-decoration: underline;
        }


.nav-scrollable[b-t90a94cti4] {
    flex: 1;
    overflow-y: auto;
}


@media (min-width: 641px) {
    .page[b-t90a94cti4] {
        flex-direction: row;
    }

    .sidebar[b-t90a94cti4] {
        width: 250px; 
        flex: 0 0 250px;
        height: auto; 
        position: sticky;
        top: 0;
    }

    .top-row[b-t90a94cti4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-t90a94cti4]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-t90a94cti4], article[b-t90a94cti4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler[b-t90a94cti4] {
        display: none;
    }

    .collapse[b-t90a94cti4] {
        display: block; 
    }

    .nav-scrollable[b-t90a94cti4] {
        height: calc(100% - 3.5rem); 
    }
}

@media (max-width: 640.98px) {
    .top-row[b-t90a94cti4] {
        justify-content: space-between;
    }

        .top-row[b-t90a94cti4]  a,
        .top-row[b-t90a94cti4]  .btn-link {
            margin-left: 0;
        }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-keztwh2tyq] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-keztwh2tyq] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-keztwh2tyq] {
    font-size: 1.1rem;
}

.bi[b-keztwh2tyq] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-keztwh2tyq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-keztwh2tyq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-keztwh2tyq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-keztwh2tyq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-keztwh2tyq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-keztwh2tyq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-keztwh2tyq]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-keztwh2tyq]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-keztwh2tyq]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-keztwh2tyq] {
        display: none;
    }

    .collapse[b-keztwh2tyq] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-keztwh2tyq] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
